* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/background.jpg.jpg);
    background-size: cover;
}

h2, p {
    color: #aa4139;
    text-align: center;
    border: 3px solid rgba(255, 176, 170, 0.5);
    cursor: pointer;
}

p {
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

img {
    float: right;
}

footer {
    clear: both;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 3px solid green;
}

.active {
    color: red;
}

#div1 {
    background: rgba(0, 0, 255, 0.2)
}

#div2 {
    background: rgba(255, 0, 0, 0.2)
}